#Nav{
    padding-left:20px;

}

.float-container>div {

    
    padding: 60px;
    float: left;
}



.float-child-select {
  z-index: 1;
    width: 19%;

    padding: 20px; 
    
}  

.score
{
  z-index: 1;
    font-size: 15px;
}

.badges{
    max-width: 30px;
    height:auto;
}


select{
  z-index: 1;
    padding: 4px;
    
}

.table_score{


  z-index: 1;
    height:auto;
    
}



.score_div{
  z-index: 1;
 padding: 30px;
}

.table-like {
    z-index: 1;
    display: table;
    width: 300px;
    
  }
  
  .table-like div {
    z-index: 1; 
    display: table-row;
    
  }
  
  .table-like div span { 
    z-index: 1;
    display: table-cell;
    padding-left:20px; 
    padding-top: 10px;
  }
  
  /* add borders */
  .table-like,
  .table-like div span {
    border: 0px solid rgb(75, 73, 73);  
  }
  
  /* bold on 1st row */
  .table-like div:nth-child(1) {
    font-weight: bold;
  }

 